footer {
    text-align: center;
    padding: 8px;
    margin-top: 650px;
    position: relative;
    z-index: 0;
    background-color: #333;
    color: white;
    padding: 1rem;
}
footer a {
    color: white;
    text-decoration: none;
}